.main-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.left-container,
.right-container {
    width: 45%;
}

.action-button {
    margin-top: 20px;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.action-button:hover {
    background-color: #0056b3;
}

.search-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.rooms-container {
    display: flex;
    flex-wrap: wrap;
}

.room-card {
    background-color: #f1f1f1;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(33.333% - 10px);
    box-sizing: border-box;
}

.room-card:hover {
    background-color: #ddd;
}

.room-card>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.small-button {
    padding: 5px 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 5px;
}

.small-button:hover {
    background-color: #0056b3;
}

.remove-button {
    background-color: #FF6347;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
    margin-left: 10px;
}

.remove-button:hover {
    background-color: #FF4500;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
}

.suggestions-list {
    list-style: none;
    padding: 0;
}

.suggestions-list li {
    padding: 10px;
    cursor: pointer;
}

.suggestions-list li:hover {
    background-color: #f1f1f1;
}
.small-button.selected {
    background-color: green;
    color: white;
}

.allocate-button {
    position: absolute;
    right: 20px;
    bottom: 20px;
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}

.allocate-button:hover {
    background-color: darkblue;
}

/* Media queries for larger screens */
@media (min-width: 768px) {
    .main-container {
        flex-direction: row;
    }

    .left-container,
    .right-container {
        width: 50%;
        height: 100%;
    }

    .left-container {
        border-bottom: none;
        border-right: 1px solid #ccc;
    }

    .right-container {
        border-top: none;
        border-left: 1px solid #ccc;
    }
}